<!-- Composant racine, contenant la liste des forfaits sous forme de gridList -->
<!-- **************L'affichage fonctionne seulement avec trois forfaits vedettes *************************-->


<div class="contenuPage">
    <h2>allo</h2>
    <mat-drawer-container>
        <mat-drawer #sidenav mode="over">
            <app-formulaire-recherche></app-formulaire-recherche>
        </mat-drawer>
        <mat-drawer-content>
            
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<!-- Propriété: proprietesForfait, renvoie toutes les informations du mock-forfaits.ts -->
