/*Affichage de la liste des forfaits, mini et complet*/
.child-css {
  height: 98%;
  width: 98%;
}
.boutonsidenav {
  min-height: 100%;
  position: absolute;
  background-color: thistle;
}
.mat-drawer-container {
  overflow: hidden;
}
.mat-drawer-container {
  background-color: seagreen;
}
