<!-- Graphique en pointes de tarte pour représenter le nombre de réservations selon la destination -->
<div>
    <h1>Nombre de forfaits selon catégorie des destinations</h1>
    <div style="display: block;">
        <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions" 
            [plugins]="pieChartPlugins" 
            [legend]="pieChartLegend"
            [colors]="pieChartColors">
        </canvas>
    </div>
</div>
