<!-- Formulaire pour ajouter des forfaits -->
<form class="gridRecherche">
    <mat-grid-list cols="1" rowHeight="6rem">
        <!-- Titre -->
        <mat-grid-tile >
            <h1>Formulaire de recherche de forfait</h1>
        </mat-grid-tile>
       
        <mat-grid-tile>
        <!-- Datepicker pour la date de départ, avec validation, avec validation du required, min à la date d'aujourd'hui -->
            <mat-form-field class="example-half-width example-padding" appearance="fill">
                <mat-label>Date de départ</mat-label>
                <input matInput [min]="minDateDepart" [matDatepicker]="dp" required [ngModel]="dateDepart" (ngModelChange)="changeDateDepart($event)" name="inputDateDepart"
                    #inputDateDepart="ngModel">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="inputDateDepart.hasError('required')">
                    La date de départ est <strong>obligatoire</strong>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <!-- Select pour la durée de 7, 10 ou 14 jours -->
            <!-- Validation du required, l'option 180 jours est désactivée -->
            <!-- Exemple pour le input output -->
                <mat-form-field appearance="fill">
                    <mat-label>Choisir la durée</mat-label>
                    <mat-select required [ngModel]="duree" (ngModelChange)="changeDuree($event)" name="inputDuree"
                        #inputDuree="ngModel">
                        <!-- Les valeurs de durée sont dans le mock-durees -->
                        <mat-option value="0">Toutes les durées</mat-option><!-- option pour toutes les durées -->
                        <mat-option *ngFor="let val of dureeTableau" value={{val}}>{{val}} jours</mat-option>
                        <mat-option value="180" disabled>180 jours</mat-option><!-- option désactivée -->
                    </mat-select>
                    <mat-error *ngIf="inputDuree.hasError('required')">
                        La durée du forfait est <strong>obligatoire</strong>
                    </mat-error>
                </mat-form-field>
        </mat-grid-tile>
        <!-- Slider pour le nombre d'étoiles -->
        <mat-grid-tile>
            <div>
                <mat-label>Nombre d'étoiles</mat-label>
                <div>
                    <mat-slider name="nbrEtoiles" [ngModel]="nbrEtoiles" (ngModelChange)="changeNbrEtoiles($event)" min="0" max="5" step="1" thumbLabel tickInterval="1" value="0"></mat-slider><br>
                    <h6>Pour afficher tous les nombres d'étoiles, sélectionner 0</h6>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile><!-- espace --></mat-grid-tile>
        <!-- Checkbox pour les caractéristiques -->
        <mat-grid-tile>
                <h2>Caractéristiques de l'hôtel</h2>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="4">
            <form class="sectionCheck"  >
                <mat-checkbox class="checkCaract" name="caracHotel" *ngFor="let item of caracHotel" value={{item}} [ngModel]="caracteristiques" (ngModelChange)="changeCaracteristiques($event, item)">{{item}} </mat-checkbox>
            </form>
        </mat-grid-tile>

    </mat-grid-list>
</form>

    
  
    
   
      

    
  
    
    
   
  
    