<!-- exercice2.html -->
<!-- Maud Harvey -->
<!-- 5 janvier 2021 -->
<!-- Reprendre la structure de l'exercice précédent
    à laquelle vous ajouterez des champs texte afin qu'un utilisateur puisse saisir
    la valeur des propriétés firstname et lastname 
    v-bind
    Ajouter une checkbox qui surligne la balise h1 du nom et du prenom en noir lorsqu’elle est selectionnée
 -->
<!DOCTYPE html>
<html lang="fr-ca">

<head>
    <title>Exercice 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .surligne{
            background-color: black;
        }
         /*Style de la page*/
        .cadre{
            width: 50%;
            background-color: whitesmoke;
            padding: 5%;
            margin: auto;
        }
        h3, h1{
            display: inline;
        }
      
    </style>
</head>

<body>
    <div id="exercice2">
        <div class="cadre">
            <label for="prenom">Prénom:</label><br>
            <input  v-model="firstname" type="text" id="prenom"><br><br>
            <label for="nom">Nom:</label><br>
            <input v-model="lastname" type="text" id="nom"><br><br>
            <!-- Checkbox pour le surlignement de la balise  -->
            <input v-model="checked" type="checkbox" id="check">
            <label for="check">Surlignement</label>
        </div><br><br><br>
        <!-- Affichage -->
        <div class="cadre">
            <h2>Surligner le nom pour le cacher</h2>
            <h3>Nom complet:</h3><h1 :class=" {surligne : checked } "> {{firstname}} {{lastname}}</h1>
        </div>
        <!-- Lorsque la propriété checked est vrai la class surligne est appliquée -->
    </div>
    <!-- code pour le Vue, placer à la fin du body -->
    <script>
        var exercice2 = new Vue({
            el: "#exercice2",
            data: {
                firstname: "Maud",
                lastname: "Harvey",
                checked: false
            }, 
        });
    </script>
</body>

</html>