<!-- Affichage des caractéristiques des forfaits -->
<div>
    <p>Destination: {{proprietesForfait.destination}} </p>
    <p>Ville de départ: {{proprietesForfait.villeDeDepart}} </p>
    
    <p>Date de Départ: {{proprietesForfait.dateDeDepart}} </p>
    <p>Date de retour: {{proprietesForfait.dateDeRetour}} </p>
    <h3>Nom de l'hotel: {{proprietesForfait.hotel.nomDeLHotel}}</h3>
    <ul>
        <li>Adresse: {{proprietesForfait.hotel.coordonnees}}</li>
        <li>Étoiles: {{proprietesForfait.hotel.nombresDEtoiles}}</li>
        <li>Chambres :{{proprietesForfait.hotel.nombreDeChambres}}</li>
    </ul>
    <div>
        <h2>Caractéristiques de l'hotel</h2>
        <ul>
            <li *ngFor="let item of proprietesForfait.hotel.caracteristiques">{{item}}</li>
        </ul>
    </div>
</div>

