<p>Je suis la section recherche {{description}}</p>
<input type="text" [(ngModel)]="description">
<!--<mat-sidenav-container class="example-container">
    <mat-sidenav class="example-sidenav" #sidenav mode="over">Formulaire de recherche</mat-sidenav>
    <mat-sidenav-content class="example-content">
        Contenu explicatif à gauche et bouton à droite 
        <div class="textGauche">
            Voici le contenu explicatif
        </div>
        <div class="textDroite">
            <button mat-button (click)="sidenav.toggle()">Chercher</button>
        </div>
        </mat-sidenav-content>
</mat-sidenav-container>-->


