/*accueil.component.css*/
/*Maud Harvey*/
/*2 décembre 2020*/
/*Affichage de la liste des forfaits, mini et complet*/
/*Affichage complet de la page*/
/*display-flex pour afficher un à côté de l'autre les sections recherche et page*/
.contenuPage {
  display: flex;
  flex-direction: row;
  background-color: #d4c4b7;
  height: 100%;
}
.mat-drawer-content {
  padding-right: 5%;
}
.mat-grid-list {
  min-height: 100%;
  width: auto;
}

.mat-drawer-container {
  background-color: #d4c4b7;
  width: auto;
}
/*div des card pour le mini-forfait et les grid-list des forfaits complets*/
.child-css {
  width: 98%;
}

/*grid-list des forfaits vedettes en mini*/
.espaceMini {
  padding: 2%;
  background-image: url("../../assets/img/banniere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.espaceGrand {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../../assets/img/mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

/*Section contenant le bouton de recherche donnant accès au contenu secondaire du sidenav*/
/*élément d-flex de la section contenuPage*/
#sectionRecherche {
  align-self: auto;
  width: 5%;
  background-color: #d4c4b7;
  opacity: 0.9;
}
/*section */
/*élément d-flex de la section contenuPage*/
.sectionPage {
  align-self: auto;
  width: 100%;
  height: 100%;
  background-color: #d4c4b7;
}
#boutonRecherche i {
  bottom: 0;
  left: 0;
  align-self: start;
  width: auto;
  position: fixed;
  padding-bottom: 50vh;
  font-size: 3rem;
  color: grey;
  text-shadow: #fb8b69 0.1em 0.1em 0.1em;
}

/*.criteres {
  border: solid grey 2px;
}*/
/*Bannière*/
.banniere {
  height: 80vh;
  background: rgba(76, 175, 80, 0);
  background-color: #d4c4b7;
}
.imgAccueil {
  background-image: url("../../assets/img/banniere.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-right: 5%;
  height: 80vh;
  position: relative;
}
.vedetteTexte,
.forfaitTexte {
  padding: 2%;
  text-align: left;
  color: white;
  bottom: 0;
  margin-left: 2%;
}
.titre {
  font-family: "Oi", cursive;
  font-size: 2.5rem;
  margin: 1%;
  height: 100%;
  line-height: 1.5;
  text-shadow: grey 0.1em 0.1em 0.1em;
}
.vedetteTexte {
  height: 20vh;
  position: absolute;
}
/*L'emplacement du formulaire de recherche est en position fixed pour être toujours accessible*/
.mat-drawer {
  width: 30%;
  position: fixed;
  left: 0;
}
.mat-drawer-content {
  height: 100%;
}
/*Centrer la section dans la bannière*/
.texteBanniere {
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/*Enlever la barre de défilement verticale de la section mat-drawer-content*/
.mat-drawer-content::-webkit-scrollbar {
  display: none;
}
.lienHaut {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  margin-right: 1%;
}
.lienHaut span {
  font-size: 3rem;
  color: grey;
  text-shadow: #fb8b69 0.1em 0.1em 0.1em;
}
