/*accueil.component.css*/
/*Maud Harvey*/
/*2 décembre 2020*/
/*Affichage de la liste des forfaits, mini et complet*/

/*Affichage complet de la page*/
/*display-flex pour afficher un à côté de l'autre les sections recherche et page*/
.contenuPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
/*div des card pour le mini-forfait et les grid-list des forfaits complets*/
.child-css {
  height: 100%;

  width: 98%;
}

/*grid-list des forfaits vedettes en mini*/
.espaceMini {
  background-image: url(../../assets/img/star.jpg);
  height: 100%;
}
/*grid-list des forfaits complets*/
.espaceGrand {
  height: 100%;
}
/*Section contenant le bouton de recherche donnant accès au contenu secondaire du sidenav*/
/*élément d-flex de la section contenuPage*/
#sectionRecherche {
  align-self: auto;
  width: 7%;
  background-color: #fbf8f9;
  opacity: 0.9;
}
/*section */
/*élément d-flex de la section contenuPage*/
.sectionPage {
  align-self: auto;
  width: 93%;
}
#boutonRecherche {
  align-self: start;
  width: auto;
  position: fixed;
}

.criteres {
  border: solid grey 2px;
}
/*Bannière*/
.banniere {
  height: 60vh;
  background-image: url("../../assets/img/polynesia.jpg");
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
}
/*L'emplacement du formulaire de recherche est en position fixed pour être toujours accessible*/
.mat-drawer {
  position: fixed;
}
/*Centrer la section dans la bannière*/
.texteBanniere {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
/*Centrer le texte de la bannière*/
.texteBanniere h2 {
  text-align: center;
}
/*Enlever la barre de défilement verticale de la section mat-drawer-cointent*/
.mat-drawer-content {
  height: 100%;
}
