<!-- Composant accueil, contenant les forfaits vedettes et la liste des forfaits sous forme de gridList -->



        <!--<div class="criteres">
            <h3>Critères de recherche</h3>
            <p>Date de Départ: {{formulaire.dateDepart}}</p>
            <p>Durée: {{formulaire.duree}}</p>
            <p>Nombre d'étoiles : {{formulaire.nbrEtoiles}}</p>
            <p>Caractéristiques de l'hôtel: <span *ngFor="let item of formulaire.caracHotel">{{item}}, </span></p>

        </div>-->
   

<!-- Contenu de la page, 100% de la largeur, contenant la section recherche et page -->
<div class="contenuPage"  id="hautDePage">
    <div id="sectionRecherche">
        <!-- Pour la section pour le bouton de recherche -->
        <div id="boutonRecherche">
            <button mat-button (click)="sidenav.toggle()">
                <i class="material-icons">double_arrow</i>
            </button>
        </div>
    </div>
    <!-- Pour la section pour le bouton de recherche -->
    <div class="sectionPage">
        <mat-drawer-container>
            <mat-drawer #sidenav mode="side" autosize>
                <button mat-button (click)="sidenav.toggle()">Fermer <i class="material-icons">double_arrow</i></button>
                <app-formulaire-recherche [(formulaire)]="formulaire"></app-formulaire-recherche>
            </mat-drawer>
            <mat-drawer-content>
                <div class="banniere">
                    <div class="imgAccueil">
                        <div class="vedetteTexte">
                            <h1 class="titre">Nos forfaits vedettes</h1>
                        </div>
                    </div>
                </div>
                <div class="espaceMini">
                    <!-- Filtre pour afficher seulement les forfaits vedettes en mini avec ForfaitVedettePipe, dans le haut -->
                    <mat-grid-list cols="9" rowHeight="15rem">
                        <mat-grid-tile [colspan]="3" [rowspan]="3" *ngFor="let forfait of forfaits | PipeForfaitVedette">
                            <app-forfait-mini class="child-css" [proprietesForfait]=forfait [date1]=forfait.dateDepartD
                                [date2]=forfait.dateRetourD></app-forfait-mini>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <a href="#hautDePage" class="lienHaut">
                    <span class="material-icons">
                        arrow_circle_up
                    </span>
                </a>
                <div class="forfaitTexte titre">
                    <h1 class="titre">Tous nos forfaits</h1>
                </div>
              <div class="espaceGrand">
                <!-- Afficher tous les forfaits avec toutes le informations séparés d'un diviseur, les forfaits complets sont placés sous les forfaits vedettes -->
                <mat-grid-list cols="9" rowHeight="9rem" >
                    <mat-list>
                        <mat-list-item *ngFor="let item of forfaits | rechercheDuree :formulaire.duree| rechercheDepart :formulaire.dateDepart | rechercheEtoile :formulaire.nbrEtoiles">
                            <mat-grid-tile [colspan]="9" [rowspan]="9">
                                <app-forfait-complet class="child-css" [proprietesForfait]=item
                                    [formulaire]="formulaire" [date1]=item.dateDepartD [date2]=item.dateRetourD></app-forfait-complet>
                                <mat-divider></mat-divider><!-- Placer à l'intérieur du grid-tile -->
                            </mat-grid-tile>
                        </mat-list-item>
                    </mat-list>
                </mat-grid-list>
            </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
<!-- Affichage pour travailler sur le formulaire de gestion des forfaits
  <div>
    <app-formulaire-forfait></app-formulaire-forfait>
  </div>-->
<!--  -->


<!-- Propriété: proprietesForfait, renvoie toutes les informations du mock-forfaits.ts -->
