/*accueil.component.css*/
/*Maud Harvey*/
/*2 décembre 2020*/
/*Affichage de la liste des forfaits, mini et complet*/

/*Affichage complet de la page*/
/*display-flex pour afficher un à côté de l'autre les sections recherche et page*/
.contenuPage {
  display: flex;
  flex-direction: row;
}
/*div des card pour le mini-forfait et les grid-list des forfaits complets*/
.child-css {
  height: 100%;
  width: 98%;
}

/*grid-list des forfaits vedettes en mini*/
.espaceMini {
  background-color: #50502e;
}
/*grid-list des forfaits complets*/
/*.espaceGrand {
  min-height: 100%;
}*/
/*Section contenant le bouton de recherche donnant accès au contenu secondaire du sidenav*/
/*élément d-flex de la section contenuPage*/
#sectionRecherche {
  align-self: auto;
  width: 3vw;
  background-color: #fffcf6;
  opacity: 0.9;
}
/*section */
/*élément d-flex de la section contenuPage*/
.sectionPage {
  align-self: auto;
  width: 100%;
  min-height: 100%;
}
#boutonRecherche i {
  bottom: 0;
  left: 0;
  align-self: start;
  width: auto;
  position: fixed;
  padding-bottom: 50vh;
}

/*.criteres {
  border: solid grey 2px;
}*/
/*Bannière*/
.banniere {
  height: 100vh;
  padding-left: 3vw;
  background-color: #fffcf6;
}
.banniere .imgAccueil {
  background-image: url("../../assets/img/polynesia.jpg");
  background-size: cover;
  background-position: center;
  background-color: #fffcf6;
  width: 94vw;
  height: 90vh;
}
/*L'emplacement du formulaire de recherche est en position fixed pour être toujours accessible*/
.mat-drawer {
  position: fixed;
  left: 0;
}
/*Centrer la section dans la bannière*/
.texteBanniere {
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/*Enlever la barre de défilement verticale de la section mat-drawer-cointent*/
.mat-drawer-content::-webkit-scrollbar {
  display: none;
}
