<div class="espaceGrand" id="sudHaut">
    <div class="page">
        <div class="sousTitre">
            <h5>
               Partez au soleil...
            </h5>
        </div>
    </div>
    <div class="box effect2">
        <h1>
            Forfaits Tout Sud
        </h1>
        <a href="#sudHaut" class="lienHaut">
            <span class="material-icons">
                arrow_circle_up
            </span>
        </a>
    </div>
<!-- Afficher tous les forfaits avec toutes le informations séparés d'un diviseur, les forfaits complets sont placés sous les forfaits vedettes -->
    <mat-grid-list cols="9" rowHeight="8rem">
        <mat-list>
            <mat-list-item *ngFor="let item of forfaits | PipeForfaitsToutSud">
                <mat-grid-tile [colspan]="9" [rowspan]="9">
                    <app-forfait-complet class="child-css" [proprietesForfait]=item [formulaire]="formulaire">
                    </app-forfait-complet>
                    <mat-divider></mat-divider><!-- Placer à l'intérieur du grid-tile -->
                </mat-grid-tile>
            </mat-list-item>
        </mat-list>
    </mat-grid-list>
</div>
