<!-- Composant racine, contenant la liste des forfaits sous forme de gridList -->
<!-- **************L'affichage fonctionne seulement avec trois forfaits vedettes *************************-->
<!--  -->

<div class="contenuPage">
  <h2>Nom de l'agence de voyage</h2>
    
  <mat-drawer-container>
    <mat-drawer #sidenav mode="over">
      <app-formulaire-recherche></app-formulaire-recherche>
      <button mat-button (click)="sidenav.toggle()">Fermer <i class="material-icons">arrow_back</i></button>
    </mat-drawer>
    <mat-drawer-content> 
      <mat-grid-list cols="11" rowHeight="7rem">      
        <!-- Filtre pour afficher seulement les forfaits vedettes en mini avec ForfaitVedettePipe, dans le haut -->
        <mat-grid-list cols="11" rowHeight="7rem" class="espaceMini">    
          <mat-grid-tile [colspan]="2" class="espaceBouton">
            <button mat-button (click)="sidenav.toggle()">
                  Rechercher un forfait <i class="material-icons">arrow_forward</i>
            </button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="3" *ngFor="let forfait of forfaits | PipeForfaitVedette">
              <app-forfait-mini class="child-css couleurVedette" [proprietesForfait]=forfait></app-forfait-mini>
          </mat-grid-tile>
        </mat-grid-list>
       <!-- Afficher tous les forfaits avec toutes le informations séparés d'un diviseur, les forfaits complets sont placés sous les forfaits vedettes -->
        <mat-list>
          <mat-list-item *ngFor="let item of forfaits">
            <mat-grid-tile [colspan]="2"  [rowspan]="9"></mat-grid-tile>
              <!-- Section pour le bouton qui ouvre le formulaire de recherche -->
            <mat-grid-tile [colspan]="9" [rowspan]="9">
              <app-forfait-complet class="child-css" [proprietesForfait]=item></app-forfait-complet>
              <mat-divider></mat-divider><!-- Placer à l'intérieur du grid-tile -->
            </mat-grid-tile>
          </mat-list-item>
        </mat-list>        
      </mat-grid-list>
    </mat-drawer-content>
  </mat-drawer-container> 
</div>
  <!-- Affichage pour travailler sur le formulaire de gestion de forfaits -->
  <div>
    <app-formulaire-forfait></app-formulaire-forfait>
  </div>

<router-outlet></router-outlet>

<!-- Propriété: proprietesForfait, renvoie toutes les informations du mock-forfaits.ts -->