/*Affichage de la liste des forfaits, mini et complet*/
.child-css {
  width: 98%;
}

.mat-drawer-content {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.couleurVedette {
  border: blue solid 2px;
}
.espaceBouton {
  background-color: crimson;
  margin-top: 3%;
  min-height: 90%;
  position: fixed;
  z-index: 99;
}
.espaceMini {
  background-color: cyan;
}
