html,body { margin:0; height:100%;}

.centralCity{
    background-image: url("../img/centralCity.jpg");
}
.explosion{
    background-image: url("../img/hero_nuclear_blast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.textFlash{
    color: #FEDF1A;
}

.h-10{
    height: 10%;
}

#flashID{
    position:relative;
    left:100px;
}