<!-- Composant pour le menu de navigation, le logo de l'agence de voyage et les onglets de navigation des différentes pages-->
<!-- Utilisation du toolbar de Angular Material -->
<mat-toolbar  class="navbar">
    <!-- Nom et logo de l'agence, retour à l'accueil-->
    <div class="logo"><a routerLink=""><img src="../../assets/img/boussole.png"/> Voyages Aventure</a></div>
    <!-- Menu de navigation -->
    <div>
        <a routerLink="/apropos">À propos</a>
        <button mat-button [matMenuTriggerFor]="menu">Forfaits</button>
        <mat-menu #menu="matMenu">
            <a routerLink="/toutsud" mat-menu-item>Tout Sud</a>
            <a routerLink="/explorateur" mat-menu-item>Explorateur</a>
        </mat-menu>
        <a routerLink="/administration">Administration</a>
    </div>
</mat-toolbar>