/*style.css Comicon 2019*/
/*Maud Harvey*/
/*14 mars 2020*/

.backBulle{
    background-image: url("../img/bulle-texte.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 100vh;
    padding-top: 15vh;
    padding-bottom: 25vh;
}
