/*CSS ajouté par Maud Harvey*/

@media only screen and (max-width: 540px) {
  .large {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1rem !important;
  }
  h3 {
    font-size: 0.9rem !important;
  }
}
body {
  height: 100%;
  background-image: url(../img/equalizer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#carte {
  box-shadow: 0 4px 8px 0 white, 0 6px 12px 0 white;
}
.large {
  font-size: 4rem;
  text-shadow: 0.1em 0.1em 0.1em black;
}
#connexion {
  width: 50vw;
  background-color: black;
  opacity: 0.95;
}
#catalogue {
  width: 70vw;
}
.play,
.arrow {
  height: 5vh;
}
.qc,
#coeur {
  height: 3vh;
}
.bgNoir {
  background-color: black;
  opacity: 0.95;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.rouge {
  color: red;
}
.jaune {
  color: yellow;
}
.vert {
  color: green;
}
.violet {
  color: purple;
}
#arrowCatalogue,
#arrowChanson,
#play {
  border: none;
  background: none;
}
.dropdownItem {
  background-color: gray;
  color: white;
}
#deconnexion {
  background-color: gray !important;
}
/*Fin*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
