/*style.css ProjetFinal*/
/*Maud Harvey*/
/*14 mars 2020*/
.bgCadre img{
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
.bgCadre{
    background-image: url("../img/background/noir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 5px;
    vertical-align: center;
}
#go{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}
.fa-arrow-right, .fa-arrow-left{
    cursor: pointer;
}
.fa-arrow-right:hover, .fa-arrow-left:hover{
    color: red;
}

.carousel-item img{
    width: 50%;
    height: 50%;
}
#fondCouleur div{
    width: 40px;
    height: 40px;
    border: black solid 1px;
    display: inline-block;
}
#fondCouleur div:hover{
    cursor: pointer;
}
#fondBlanc{
    background-image: url("../img/background/blanc.jpg");
}
#fondBleu{
    background-image: url("../img/background/bleu.jpg");
}
#fondBleuFonce{
    background-image: url("../img/background/bleuFonce.jpg");
}
#fondGris{
    background-image: url("../img/background/gris.jpg");
}
#fondNoir{
    background-image: url("../img/background/noir.jpg");
}
#fondRose{
    background-image: url("../img/background/rose.jpg");
}
#fondRouge{
    background-image: url("../img/background/rouge.jpg");
}
/*Impression du montage photo*/
@media print{
    @page{
        height: 50%;
        size: landscape;
        margin-top: 27.5%;
    }
}