<!-- Composant pour afficher les forfaits vedettes en haut de page -->
<!-- Sous forme de card simple, placer quelques informations à l'aide d'un grid-list -->
<!--  Condition: seulement les forfaits possédant l'attribut forfaitVedette= true-->
<!-- Utilisation d'un filtre dans acuueil.component.html, *ngFor="let forfait of forfaits | PipeForfaitVedette" -->
     <!-- Sinon, vous pouvez utiliser, <mat-card *ngIf="proprietesForfait.forfaitVedette">, dans ce composant -->

<mat-card class="couleurVedette">
    <mat-grid-list cols="2" rowHeight="2rem">
        <mat-grid-tile>
            <h3>{{proprietesForfait.destination}},  De {{proprietesForfait.villeDeDepart}}</h3>
        </mat-grid-tile>
        <!-- Affichage des rabais sur trois rangées, rabais, prix barré et nouveau prix -->
        <!-- Rabais, est une propriété optionnelle, ajouter la condition >0 pour l'affichage  -->
        <mat-grid-tile class="prix" *ngIf="proprietesForfait.rabais>0; else elseRabais">
            <h4>Rabais de {{proprietesForfait.rabais}}, 00$</h4><!-- Rabais -->
        </mat-grid-tile>
        <ng-template #elseRabais>
            <mat-grid-tile [rowspan]="4" class="prix">
                <h4>{{proprietesForfait.prix}}, 00$</h4>
            </mat-grid-tile>
        </ng-template>
        <mat-grid-tile [rowspan]="2">
            <h4>{{proprietesForfait.hotel.nomDeLHotel}}</h4>
        </mat-grid-tile>
        <!-- Si le rabais s'applique, afficher avec un style pour barrer le prix -->
        <mat-grid-tile  [rowspan]="2" class="prix" *ngIf="proprietesForfait.rabais>0">
            <h4 [ngStyle]="{'text-decoration' : 'line-through'}">{{proprietesForfait.prix}}, 00$</h4><!-- Ancien prix -->
        </mat-grid-tile>
        <!-- Nombre d'étoiles de l'hôtel, boucle appelé avec le nombre inscrit dans le mock-forfaits -->
        <mat-grid-tile>
            <app-etoile *ngFor="let item of [].constructor(proprietesForfait.hotel.nombresDEtoiles)"></app-etoile>
        </mat-grid-tile>
        <!-- Calcul du nouveau prix -->
        <mat-grid-tile class="prix" *ngIf="proprietesForfait.rabais>0">
            <h4>{{proprietesForfait.prix - proprietesForfait.rabais}}, 00$</h4><!-- Nouveau prix -->
        </mat-grid-tile>
        <!-- Le format de la date est complète, local: Greenwich  et en français-->
        <!-- Calcul de la durée du forfait à partir de la date de départ et de retour -->
        <mat-grid-tile [colspan]="2" [rowspan]="2"><h4>{{proprietesForfait.dateDeDepart | date : 'fullDate' : 'UTC-0' : 'fr'}}, {{(proprietesForfait.dateDeRetour.valueOf()-proprietesForfait.dateDeDepart.valueOf())/(1000*3600*24)}} jours</h4></mat-grid-tile>
    </mat-grid-list>
</mat-card>
