<!-- Formulaire pour ajouter des forfaits -->
<!--  -->
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Destination</mat-label>
        <input required type="text" placeholder="ex.: Cuba" aria-label="Destination" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <!-- Boucle pour afficher tous les éléments du tableau transformés en tableau de string -->
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input required type="text" placeholder="Ville de départ" aria-label="Ville de départ" matInput [formControl]="myControl2"
            [matAutocomplete]="auto2">
        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
            <mat-option *ngFor="let ville of filteredVilles | async" [value]="ville">
                {{ville}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-form">
        <mat-label>Nom de l'hôtel</mat-label>
        <!-- Le nom de l'hôtel doit comporter 2 caractères minimum -->
        <input matInput required minlength="2" [ngModel]="nomHotel" name="inputNomHotel" #inputNomHotel="ngModel" type="text" placeholder="ex : The Fives Beach Hotel & Residences Playa Del Carmen">
        <mat-hint>Entrer le nom complet de l'hôtel</mat-hint>
        <!-- Validation du nom de l'hôtel -->
        <mat-error *ngIf="inputNomHotel.hasError('required')">
            Le nom de l'hôtel est <strong>obligatoire</strong>
        </mat-error>
        <mat-error *ngIf="inputNomHotel.hasError('minlength')">
            La longueur minimale est de 2 caractères.
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-form">
        <mat-label>Coordonnées</mat-label>
        <input  matInput required [ngModel]="adresse" name="inputAdresse" #inputAdresse="ngModel" type="text" placeholder="ex. 3 rue de la Plage, Varadero">
        <mat-hint>Entrer l'adresse et la ville de l'hôtel</mat-hint>
        <mat-error *ngIf="inputAdresse.hasError('required')">
           Les coordonnées de l'hôtel sont <strong>obligatoires</strong>
        </mat-error>
    </mat-form-field>
    <div class="margeHaut">
        <mat-label>Nombre d'étoiles</mat-label>
        <div>
            <mat-slider required min="1" max="5" step="1"  thumbLabel tickInterval="1" value="1"></mat-slider>
        </div>
    </div>
    <mat-form-field >
        <mat-label>Nombre de chambre</mat-label>
        <input matInput required [ngModel]="nbrChambre" name="inputNbrChambre" #inputNbrChambre="ngModel" type="number" placeholder="0" min="1" >
        <mat-error *ngIf="inputNbrChambre.hasError('required')">
            Le nombre de chambre est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Prix du forfait</mat-label>
        <input matInput required [ngModel]="prix" name="prixForfait" #inputPrix="ngModel" type="number" placeholder="0.00" min="0.01" max="1000000.00" step=".01">
        <mat-error *ngIf="inputPrix.hasError('required')">
            Le prix du forfait est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <div class="margeHaut">
        <h2>Caractéristiques de l'hôtel</h2>   
        <section class="example-section">
            <mat-checkbox *ngFor="let item of caractHotel" class="example-margin">{{item}}</mat-checkbox>
        </section>
    </div>
    <mat-form-field class="example-half-width example-padding" appearance="fill">
        <mat-label>Date de départ</mat-label>
        <input matInput [matDatepicker]="dp" required [ngModel]="dateDepart" name="inputDateDepart" #inputDateDepart="ngModel">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp ></mat-datepicker>
        <mat-error *ngIf="inputDateDepart.hasError('required')">
            La date de départ est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field  class="example-half-width example-padding" appearance="fill">
        <mat-label>Date de retour</mat-label>
        <input matInput [matDatepicker]="dp1" required [ngModel]="dateRetour" name="inputDateRetour" #inputDateRetour="ngModel">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 ></mat-datepicker>
        <mat-error *ngIf="inputDateRetour.hasError('required')">
            La date de retour est <strong>obligatoire</strong>
        </mat-error>
    </mat-form-field>   
</form>
