
/*Couleurs*/
/*#3E3E40*/
/*#FEAE4B*/
/*#62B6C0*/

/*Bannière, image*/
$bg-img: '../img/banniere.jpg'


#banniere  
    background-color: black
    background-image: url($bg-img)
    background-size: cover
    background-repeat: no-repeat
    height: 80vh

/*Photo avec effet polaroid*/
.polaroid   
    position: relative
    width: 22vw
    padding: 0px
    transform: rotate(10deg)

.polaroid img
    border: 20px solid #fff
    padding: 0px
    border-bottom: 100px solid #fff
    box-shadow: 3px 3px 3px #777 
    
.polaroid p 
    color: #11A3D9
    font-size: 2rem
    position: absolute  
    text-align: center
    width: 100%  
    bottom: 1%
    color: #888

.card
    width: 20%
    height: 40vh
    border: 20px solid #fff
    padding: 0px
    border-bottom: 100px solid #fff
    box-shadow: 3px 3px 3px #777 
.card img
    height: 75%
   
.apropos, .contact
    transform: rotate(10deg)
.projets
    transform: rotate(-7deg)