/*Bannière, image*/
$bg-img: '../img/banniere.jpg'

#banniere  
    background-color: black
    background-image: url($bg-img)
    height: 75vh

/*Photo avec effet polaroid*/
.polaroid   
    position: relative
    width: 22vw
    padding: 0px
    transform: rotate(10deg)

.polaroid img
    border: 20px solid #fff
    padding: 0px
    border-bottom: 100px solid #fff
    box-shadow: 3px 3px 3px #777 
    
.polaroid p 
    font-size: 2rem
    position: absolute  
    text-align: center
    width: 100%  
    bottom: 1%
    color: #888
