@import "principal.sass";

#projet
  .bkgnoir
    @include couleursBkg($couleurBkg: "noir")
    box-shadow: 3px 3px 3px #62B6C0
    transform: rotate(-20deg)
    height: 150px
    width: 150px

  .bkgorange
    @include couleursBkg($couleurBkg: "orange")
    box-shadow: 3px 3px 3px #62B6C0
    transform: rotate(-20deg)
    height: 150px
    width: 150px

.titre
    @include couleursBkg($couleurBkg: "orange")
    transform: rotate(-15deg)
    h1
        @include families($family: "styleEfface")
        @include couleursTexte($couleurTexte: "vert")
        transform: rotate(15deg)

.listeprojet
    transform: rotate(-20deg)

#projet
    p
        @include families($family: "normal")
        @include couleursTexte($couleurTexte: "noir")
#projet
    img
        box-shadow: 3px 3px 3px 3px #62B6C0

/*Style des boutons*/
@mixin boutons($bouton: "")
  border-radius: 100px
  padding: 6px 15px
  @if $bouton == "tri"
    border: 1px solid #e6e6e6
    @include couleursBkg($couleurBkg: "vert")
    @include couleursTexte($couleurTexte: "noir")

#boutonsTri
    button
        @include boutons($bouton: "tri")

/*Autres Projets
#autres
  .card
    height: 100%
    width: 95%
#autres    
  .autreImg
    height: 121%
#autres
  .card-body
    height: 50%

