/*div {
  background-color: #d5a6bd;
  height: 140px;
  width: 100%;
  border: solid black 1px;
  display: inline-block;
}

p {
  margin-top: 5px;
  margin-left: 5px;
  border: solid black 1px;
}
.nom {
  padding: 4px;
  width: 60%;
}
.desc {
  width: 95%;
  height: 55%;
}*/
