
<!-- Forfait complet comprend toutes les informations,   -->
<mat-grid-list cols="5" rowHeight="14:2">
    <mat-grid-tile class="image"
        [rowspan]="12">
        <img src="../../assets/img/voyage.jpg"/>
    </mat-grid-tile>
    <!-- destination-->
    <mat-grid-tile class="description" [colspan]="2">
        <h3>{{proprietesForfait.destination}}</h3>
    </mat-grid-tile>
    <mat-grid-tile class="espace" [rowspan]="13"></mat-grid-tile><!-- espace -->
    <mat-grid-tile class="duree">
        <h1>14 jours</h1>
    </mat-grid-tile>
    <mat-grid-tile class="description" [colspan]="2">
        <h1>{{proprietesForfait.hotel.nomDeLHotel}}</h1>
    </mat-grid-tile>
    <mat-grid-tile class="prix">
        <h1>Prix</h1>
    </mat-grid-tile>
    <mat-grid-tile class="description" [colspan]="2">
        <h2>{{proprietesForfait.hotel.nombresDEtoiles}}<app-etoile></app-etoile></h2>
    </mat-grid-tile>
    <mat-grid-tile class="espace" [rowspan]="11"></mat-grid-tile><!-- espace -->
    <mat-grid-tile class="description" [colspan]="2">
        <h4>{{proprietesForfait.hotel.nombreDeChambres}} chambres</h4>
    </mat-grid-tile>
    <mat-grid-tile class="caracteristiques" [colspan]="2" [rowspan]="2">
        <div>
            <h3>Caractéristiques de l'hotel</h3>
            <ul>
                <li *ngFor="let item of proprietesForfait.hotel.caracteristiques">{{item}}</li>
            </ul>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="espace" [colspan]="2"></mat-grid-tile>
    <mat-grid-tile class="adresse" [colspan]="2">
        <h5>{{proprietesForfait.hotel.coordonnees}}</h5>
    </mat-grid-tile>
    <mat-grid-tile class="espace" [colspan]="2" [rowspan]="4"></mat-grid-tile>
    <mat-grid-tile class="villeDepart">
        <h4>{{proprietesForfait.villeDeDepart}}</h4>
    </mat-grid-tile>
    <mat-grid-tile class="depart">
        <h4>{{proprietesForfait.dateDeDepart}}</h4>
    </mat-grid-tile>
    <mat-grid-tile class="retour">
        <h4>{{proprietesForfait.dateDeRetour}}</h4>
    </mat-grid-tile>
</mat-grid-list>