/*Différentes couleurs de fond pour observer le gridList*/

.couleurVedette {
  border: solid 2px black;
  box-shadow: 8px 8px 40px 10px rgba(255, 229, 112, 0.8);
}
.criteres {
  border: solid grey 2px;
}
.fComplet {
  min-height: 100%;
}
