/*Différentes couleurs de fond pour observer le gridList*/
.mat-grid-list {
  border: solid 2px black;
  background-color: white;
  width: 80%;
  margin: auto;
}
.couleurVedette {
  border: solid 2px black;
  box-shadow: 4px 4px 20px 5px rgba(7, 119, 113, 0.8);
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(158, 182, 158, 0.9)
  );
}
.criteres {
  border: solid grey 2px;
}
.fComplet {
  height: 100%;
}
.image {
  border: white solid 5px;
  box-shadow: 1px 1px 12px grey;
}
h3,
h4,
li,
h1 {
  font-size: 1.2rem;
  font-family: "Prata", serif;
}
.cursive {
  font-family: "Satisfy", cursive;
  font-size: 2rem;
}
.titre {
  font-family: "Oi", cursive;
  font-size: 2rem;
  text-shadow: grey 0.1em 0.1em 0.1em;
}
.accent {
  color: #077771;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: whitesmoke 0.1em 0.1em 0.1em;
}
