/*Différentes couleurs de fond pour observer le gridList*/
.image {
  background-color: aqua;
}
.description {
  background-color: chartreuse;
}

.prix {
  background-color: thistle;
}
.caracteristiques {
  background-color: green;
}
.adresse {
  background-color: khaki;
}
.villeDepart {
  background-color: blueviolet;
}
.depart {
  background-color: salmon;
}
.retour {
  background-color: gold;
}
.espace {
  background-color: lightblue;
}
.duree {
  background-color: sienna;
}

.couleurVedette {
  border: blue solid 2px;
}
