<div class="main">
    <h2>Page 2</h2>
    <div class="container">
        <app-en-tete></app-en-tete>
        <div class="contenu">
            <div class="sectionGauche">
                <!-- recherche -->
                <app-recherche></app-recherche>
            </div>
            <div class="sectionDroite">
                    <!-- Faire le ngFor sur l'élément bouclé et non le conteneur-->
                    <mat-list>
                        <mat-list-item *ngFor="let maValeur of monTableau">                  
                            {{maValeur}}                                                      
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
            </div>
        </div>
        <app-pied-page></app-pied-page>
    </div>
</div>
