
<div>
    <div class="page">
        <div class="sousTitre">
            <h5>
                Voyager, c’est partir de chez soi               
                c’est quitter ses amis                
                c’est essayer de voler:                
                voler vers d’autres horizons                
                parcourir les routes                
                c’est tenter de changer.               
                Voyager, c’est s’habiller de folie               
                c’est dire « je m’en fiche »               
                c’est vouloir rentrer.               
                Rentrer en savourant les petites choses                
                déguster un verre…               
                C’est désirer recommencer.
            </h5>
        </div>
    </div>
    <div class="box effect2">
        <p>
            Voyages Aventure est une agence de voyage locale spécialiste du sur-mesure pour visiter l'Amérique du Sud, à l'Islande et en
            Europe. Nous sommes extrêmement fiers de notre équipe. Pour chacune de nos destinations, nous disposons d’un expert
            local plein de ressources qui a vécu sur place ou a longuement voyagé dans la région. Notre équipe vous confectionnera
            un voyage adapté à vos envies et au type de vacances que vous préférez. Nous vous présenterons les lieux à ne pas
            manquer sous un jour différent et nous vous conseillerons des endroits que la plupart des touristes ne connaissent pas.
            Nos guides vous feront vivre un séjour que vous n’êtes pas près d’oublier. Nos partenaires sur place sont parmi les
            meilleurs et leur expérience est inégalée.
        </p>
    </div>

</div>



