
<div>
    <div class="page">
        <h1>Lorem Ipsum</h1>

        <div class="sousTitre">
            <h5>
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
            </h5>
        </div>
    </div>
    <div class="box effect2">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat pharetra neque, commodo placerat nulla
            pellentesque ut. Sed tempus nisi metus, sit amet aliquam eros imperdiet eget. Integer id fringilla urna, vel
            interdum
            ex. Maecenas varius lacus lectus. Vivamus nibh enim, scelerisque at aliquet volutpat, volutpat a justo. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer in ex congue, placerat
            ipsum
            non, volutpat enim. Etiam eu nunc rutrum, varius lacus id, pharetra tellus. Cras iaculis nisl non malesuada gravida.
            Morbi eu turpis quis turpis euismod scelerisque. Sed eget vestibulum enim. Nulla dictum purus dolor, et pharetra
            libero
            suscipit vitae. Nulla sollicitudin nisi a ex malesuada, ut hendrerit urna interdum. Vivamus tincidunt varius
            pulvinar.
            Donec blandit a dolor at consectetur.
        
            Sed fermentum convallis urna nec mollis. Donec ut viverra risus. Aenean odio lacus, ornare et pellentesque eu,
            mollis
            vel risus. Nam et sem sed neque bibendum efficitur eu non erat. Praesent luctus enim nulla, ac tincidunt velit
            egestas
            non. Pellentesque condimentum, elit eget suscipit auctor, ligula eros pellentesque leo, sit amet varius nibh est
            eget
            tortor. Sed porta augue et tortor tincidunt, vel auctor purus mollis.
        
            Praesent sodales, lorem in rhoncus auctor, turpis nisl scelerisque metus, non vulputate elit ante vitae orci. Cras
            arcu
            tellus, pretium ac bibendum sed, imperdiet ac nulla. Mauris efficitur laoreet lacus id molestie. Pellentesque id
            pellentesque ligula. Morbi vel tortor molestie, vestibulum justo vel, dictum nisi. Vivamus ut lectus eleifend,
            lobortis
            augue ut, facilisis lectus. Quisque mattis lacus ante, convallis auctor mauris sodales vel. Donec sed tellus metus.
            Cras
            at euismod dolor, sit amet aliquet felis. In non mauris vulputate, cursus justo sit amet, auctor diam. Pellentesque
            consectetur odio quis neque porta, vel molestie arcu faucibus. Proin feugiat, dui at tempor placerat, libero nulla
            feugiat ex, sed vulputate velit mauris id lacus.
        
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam sagittis hendrerit elit ac imperdiet. Aenean
            posuere
            luctus erat nec aliquet. Mauris placerat ex in ex efficitur, vitae blandit est gravida. Aliquam felis odio,
            consectetur
            ut sem at, luctus dictum nulla. Nullam nisl enim, tristique vitae neque a, rutrum porta augue. Quisque ut lacus
            elit.
            Donec eu nisi sem. Aenean id lorem eleifend, lacinia diam id, faucibus odio. Praesent feugiat eros eget risus
            scelerisque congue. Aenean tempus et libero nec consectetur. Maecenas at est sed metus tempor placerat.
        </p>
    </div>

</div>



