<!-- Composant pour l'affichage de l'évaluation avec un nombre d'étoile -->
<!-- Utiliser le materials-icons, le nombre d'étoiles est défini dans l'API' -->
<!-- Un icône star_rate est appelé le nombre de fois que le nombre d'étoiles de l'hôtel -->
<!-- On ajoute l'icône star_border pour un total de 5 étoiles -->
<span *ngFor="let item of [].constructor(nbrEtoiles)" class="material-icons couleur" >
    star_rate
</span>
<span *ngFor="let item of [].constructor(5-nbrEtoiles)"class="material-icons">
    star_border
</span>