/*Font face*/

@font-face
  font-family: 'Vidaloka'
  src: local(Vidaloka), url('font/Vidaloka/Vidaloka-Regular.ttf') format('truetype')
@font-face
  font-family: 'Monoton'
  src: local(Monoton), url('font/Monoton/Monoton-Regular.ttf') format('truetype')

/*Font family*/


@mixin families($family:"")
  @if $family == "Vidaloka"
    font-family: "Vidaloka", sans-serif
  @if $family == "Monoton"
    font-family: 'Monoton', sans-serif


h1
  @include families($family: "Monoton")
#accueil    
  h2, p, 
    @include families($family: "Vidaloka")

/*Hauteur*/
$hauteurs: 5, 50, 75, 100
@each $hauteur in $hauteurs
  .haut-#{$hauteur}
    max-height: $hauteur + vh

/*Hauteur du texte */
$fontSizes: ("small": 1.2, "medium": 1.7, "large": 2, "xlarge": 2.6)
@each $grandeur, $valeur in $fontSizes
  .font-#{$grandeur}
    font-size: $valeur + rem


/*Couleur de texte*/
@mixin couleursTexte($couleurTexte: "")
  @if $couleurTexte == "rose"
    color: #F75E50
  @else if $couleurTexte == "jaune"
    color: #EAC761
  @else if $couleurTexte == "beige"
    color: #E8DF9C
  @else if $couleurTexte == "vert"
    color: #91C09E
  @else if $couleurTexte == "gris"
    color: #746F62
  @else if $couleurTexte == "grisfonce"
    color: #3F362A
   

/*Couleur de background*/
@mixin couleursBkg($couleurBkg: "")
  @if $couleurBkg == "rose"
    background-color: #F75E50
  @else if $couleurBkg == "jaune"
    background-color: #EAC761
  @else if $couleurBkg == "beige"
    background-color: #E8DF9C
  @else if $couleurBkg == "vert"
    background-color: #91C09E
  @else if $couleurBkg == "gris"
    background-color: #746F62
.navbar-nav
  a
    @include couleursTexte($couleurTexte: "vert")

p, h5
  @include couleursTexte($couleurTexte: "gris")

#titre, #accueil
  h1
    @include couleursTexte($couleurTexte: "rose")

#accueil
  h2
    @include couleursTexte($couleurTexte: "grisfonce")

#accueil
  p
    @include couleursBkg($couleurBkg: "beige")



#pageAccueil, 
  p,
    @include couleursTexte($couleurTexte: "grisfonce")
    @include couleursBkg($couleurBkg: "vert")

.affichagePhoto
  @include couleursBkg($couleurBkg: "beige")

.modal-header, .modal-footer
  @include couleursBkg($couleurBkg: "vert")


/*alignement verticale*/
.vertical
  display: flex
  align-items: center

/*ombre et bordure*/
@mixin ombres($ombre: "")
  
  @if $ombre == "bordRose"
    border: 2px solid #F75E50
    box-shadow: 0 4px 8px 0 rgba(247, 94, 80, 0.3), 0 6px 20px 0 rgba(247, 94, 80, 0.2);
  @if $ombre == "bigGray"
    border: 10px solid #3F362A
  @if $ombre == "smallGray"
    border: 2px solid #3F362A
    box-shadow: 0 4px 8px 0 rgba(63, 54, 42, 0.3), 0 6px 20px 0 rgba(63, 54, 42, 0.3);

     
.bordRose
  @include ombres($ombre: "bordRose")

.bigGray
  @include ombres($ombre: "bigGray")
.smallGray
  @include ombres($ombre: "smallGray")


/*boutons*/
@mixin boutons($bouton: "")
  border-radius: 20px
  padding: 15px 50px
  @if $bouton == "app"
    border: 2px solid #F75E50
    @include couleursTexte($couleurTexte: "rose")
    @include couleursBkg($couleurBkg: "vert")

  @if $bouton == "ajout"
    @include ombres($ombre: "smallGray")
    @include couleursTexte($couleurTexte: "grisfonce")
    @include couleursBkg($couleurBkg: "jaune")
    
  @if $bouton == "attrait"
    @include ombres($ombre: "smallGray")
    @include couleursTexte($couleurTexte: "grisfonce")
    @include couleursBkg($couleurBkg: "jaune")

#boutonInstall, #save, #enregistrer
  @include boutons($bouton: "app")
  @include ombres($ombre: "bordRose")
#ajoutRT, #ajoutTrip
  @include boutons($bouton: "ajout")
#ajoutAttrait
  @include boutons($bouton: "app")
  width: 80%



/***************************************/
#pageAccueil 
  background-image: url("../img/road.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-color: white
  min-height: 10vh
  background-attachment: fixed /*Pour l'effet*/
  
    
.accueilImg 
  object-fit: cover
  min-height: 50vh
  


